body {
				background: url(../images/spacebg.jpg);
				background-repeat: no-repeat;
/*    			background-position: center;*/
   				background-size: cover;
   				width: 100%;
    			height: 100%;	
			}

			#wrap {
				background: #222;
				box-shadow: inset 0 0 0 1px #404040, 0 0 0 1px #000;
				left: 50%;
				opacity: 0;
				padding: 10px;		
				position: absolute;
				top: 50%;
				transition: opacity 1.5s;
			}

			.loaded #wrap {				
				opacity: 1;			
			}

			#wrap-inner {
				background: url(../images/wrap-space.jpg);	
				background-repeat: no-repeat;
/*    			background-position: center;*/
   				background-size: cover;
   				/*width: 100%;
    			height: 100%*/			
				overflow: hidden;
				position: relative;				
			}

			canvas {
				cursor: crosshair;
				display: block;
				left: 0;
				position: absolute;
				top: 0;
			}